/* ===========================================================
  Photos
============================================================ */

.photos__gallery {
  display: flex;
}

.photos__single {
  width: 100%;
  height: 250px;
  margin: 5px 0;

  @include bp('xs') {
    width: 49%;
  }
  @include bp('md') {
    width: 32%;
  }
}
