/* ===========================================================
  Sizing
============================================================ */
.row {
  display: block;
  width: 100%;
}

.height-small {
  height: 100px;
}

.bg-img {
  background-position: center;
  background-size: cover;
}
