/* ===========================================================
  Sizing
============================================================ */

img {
  max-width: 100%;
}

/*
  Width Styling
 */

.width-hundred {
  width: 100%;
}

.width-max-plus {
  width: 90%;
  max-width: 105rem;
  margin-right: auto;
  margin-left: auto;
}

.width-max {
  width: 90%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.width-half {
  width: 100%;
  @include bp(md) {
    width: 50%;
  }
}

.width-third {
  width: 100%;
  @include bp(md) {
    width: 50%;
  }
  @include bp(lg) {
    width: 33%;
  }
}

.width-fourth {
  width: 100%;
  @include bp(sm) {
    width: 50%;
  }
  @include bp(md) {
    width: 33%;
  }
  @include bp(lg) {
    width: 25%;
  }
}

/*
  Height styling
 */

.height {
  &-small {
    height: 200px;
  }
  &-med {
    height: 300px;
  }
  &-large {
    height: 400px;
  }
  &-xl {
    height: 500px;
  }
  &-xxl {
    height: 550px;
    @include bp(sm) {
      height: 600px;
    }
    @include bp(lg) {
      height: 650px;
    }
    @include bp(xl) {
      height: 700px;
    }
  }
}

.bg-img {
  background-position: center;
  background-size: cover;
}
