/* ===========================================================
  Typography
============================================================ */

html {
  font-size: 62.5%;
}

body {
  font-family: $primary;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary;
  letter-spacing: 5px;
}

h1 {
  font-size: 5.2rem;
  padding: 30px 0;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}

p {
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 1px;
}

p:first-of-type {
  margin-top: 1rem;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  color: $black;
  letter-spacing: 1px;
  &:hover {
    cursor: pointer;
    color: $hover-color;
    text-decoration: none;
  }
}

ul, ol {
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  -webkit-padding-start: 0;
}

ol {
  list-style: decimal;
}

li {
  font-size: 2.4rem;
  line-height: 3.6rem;
}

span {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

b, em, strong {
  font-weight: bold;
}

.text {
  &-right {
    text-align: right;
  }
  &-center {
    text-align: center;
  }
  &-xl {
    font-size: 10rem;
    margin: 0;
    @include bp(sm) {
      font-size: 12rem;
      line-height: 14rem;
      margin: 10px 0;
    }
    @include bp(lg) {
      font-size: 14rem;
      line-height: 16rem;
    }
  }
}

.txt {
  &-white {
    color: white;
    &-child {
      a, li, p {
        color: white;
      }
      a:hover {
        color: $hover-color;
      }
    }
  }
  &-shadow {
    text-shadow: 5px 5px 5px $black;
  }
}

.break-word {
  word-wrap: break-word;
}
