/* ===========================================================
  Header
============================================================ */
header {
  width: 100%;
  background-color: $primary_site_color;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  @include bp(md) {
    display: flex;
    position: static;
  }
}

.header__link {
  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  padding-left: 2rem;

  @include bp('lg') {
    width: 35%;
  }
}

.header__title {
  font-family: $tertiary;
  letter-spacing: 0;
  color: white;
  margin: 0;
  padding: 1rem 0;

  @include bp(sm, max-width) {
    font-size: 3.5rem;
  }
}

.header__nav {
  width: 65%
}
