/* ===========================================================
  Header
============================================================ */
header {
  width: 100%;
  background-color: $primary_site_color_transparent;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: $tertiary;
  letter-spacing: 0;
  color: white;
  margin: 0;
  width: 100%;
  padding-left: 2rem;

  @include bp('lg') {
    width: 35%;
  }
}

.header__nav {
  width: 65%
}
